/*
CONFIGURATION FILE FOR BPQ32: G8BPQ SWITCH SOFTWARE

This is a sample configuration file for LINBPQ (BPQ32 for Linux)

Includes 1 AX/IP/UDP Port, 1 Telnet Port, and 1 Direwolf Sound Card TNC Port(AGW)
*/ 


SIMPLE               ; Sets lots of rarely changed setting to default values

AUTOSAVE=1          ; Saves the NODES list anytime BPQ is shutdown and restores it when restarted

PASSWORD=SETUP-PASSWORD
LOCATOR=SETUP-GRIDSQUARE
MAPCOMMENT=SETUP-NOCALL-7 BPQ32 Packet Node SETUP-CITY, SETUP-STATE<br>SETUP-FREQUENCY Mhz<br>SETUP-NOCALL-1 BBS<br>SETUP-NOCALL-2 CHAT<br>SETUP-NOCALL-10 RMS<br>

NODE=1                      ; Allows users to connect to other nodes via this node (emulates a NET/ROM Node)
NODECALL=SETUP-NOCALL-7	    ; Node callsign
NODEALIAS=SETUP-NODEALIAS	; Node alias (6 characters max)

IDMSG: ; UI broadcast text from NODECALL to fixed dest ID

SETUP-NOCALL-7 BPQ32 Packet Node Hub - SETUP-CITY, SETUP-STATE SETUP-GRIDSQUARE

SETUP-NODEALIAS  or  SETUP-NOCALL-7  - Node Hub
SETUP-BBSALIAS  or  SETUP-NOCALL-1  - Mailbox (BBS)
SETUP-CHATALIAS  or  SETUP-NOCALL-2  - Chat Server
SETUP-RMSALIAS  or  SETUP-NOCALL-10  - RMS Node (Winlink)
***  ; Denotes end of IDMSG text

BTEXT:             ; UI broadcast text from BCALL to destination UNPROTO=CQ
SETUP-NOCALL-7 BPQ32 Packet Node SETUP-CITY, SETUP-STATE
***	                ; Denotes end of BTEXT text

INFOMSG:  ; The INFO command text follows:
SETUP-NOCALL-7 BPQ32 Packet Node SETUP-CITY, SETUP-STATE  (SETUP-GRIDSQUARE)
This packet station is running a Direwolf Sound Card TNC (Port 3 - SETUP-FREQUENCY MHz)
and LINBPQ (BPQ32) on a Raspberry Pi 3 Model B SBC. 

Connect initially to SETUP-NOCALL-7, then choose among:

  BBS    - for BPQMailChat BBS
  CHAT   - for BPQMailChat CHAT
  RMS    - for Winlink RMS

For 'one step' service disconnect from SETUP-NOCALL-7 and connect instead to:

  SETUP-BBSALIAS  or SETUP-NOCALL-1 for BPQMailChat BBS
  SETUP-CHATALIAS  or SETUP-NOCALL-2 for BPQMailChat CHAT
  SETUP-RMSALIAS  or SETUP-NOCALL-10 for Winlink RMS
  
SETUP-NODEALIAS:SETUP-NOCALL-7} BBS CHAT RMS CONNECT BYE INFO NODES PORTS ROUTES USERS MHEARD
***																					; Denotes end of INFOMSG text

CTEXT:																				; The CTEXT text follows:
Connected to SETUP-NOCALL-7 Packet Node, SETUP-CITY, SETUP-STATE (SETUP-GRIDSQUARE)
Type '?' for help.
SETUP-NODEALIAS:SETUP-NOCALL-7} BBS CHAT RMS CONNECT BYE INFO NODES PORTS ROUTES USERS MHEARD
***																					; Denotes end of CTEXT text

FULL_CTEXT=0																		; 0=send CTEXT to L2 connects to NODEALIAS only
																					; 1=send CTEXT to all connectees


;----------------------------------------------------
; Network System Parameters:

NODESINTERVAL=90																	; Nodes broadcast interval in minutes
IDINTERVAL=60																		; 'IDMSG' UI broadcast interval in minutes, 0=OFF
BTINTERVAL=25 																		; The BTEXT broadcast interval in minutes, 0=OFF
MINQUAL=85																			; Minimum quality to add to nodes table
T3=180																				;Link Validation Timer. 
IDLETIME=900																		;If there is no traffic for IDLETIME seconds, 
																					;the link will be closed. 900=15mins

;----------------------------------------------------
; Port Definitions:
; AX/IP/UDP Port

PORT
 PORTNUM=1																			; Optional but sets port number if stated
 ID=AX/IP/UDP																		; Displayed by PORTS command
 DRIVER=BPQAXIP         															; Uses BPQAXIP driver
 QUALITY=90																			; Quality factor applied to node broadcasts heard on
																					; this port, unless overridden by a locked route
																					; entry. Setting to 0 stops node broadcasts
 MINQUAL=85																			; Entries in the nodes table with qualities greater or
																					; equal to MINQUAL will be sent on this port. A value
																					; of 0 sends everything.
 MAXFRAME=7																			; Max outstanding frames (1 thru 7)
 FRACK=3000																			; Level 2 timout in milliseconds
 RESPTIME=1000																		; Level 2 delayed ack timer in milliseconds
 RETRIES=5																			; Level 2 maximum retry value

CONFIG
 MHEARD ON
 UDP 10093
 BROADCAST NODES

; MAP XX6JJJ-1 XX6JJJ.NO-IP.ORG UDP 10093 B

ENDPORT 


;----------------------------------------------------
; BPQTelnetServer Port

PORT
 PORTNUM=2
 ID=Telnet Server
 DRIVER=TELNET		; Uses TELNET driver
 PORTCALL=SETUP-NOCALL-10

CONFIG
 CMS=1
 CMSCALL=
 CMSPASS=
 LOGGING=1
 DisconnectOnClose=1
 TCPPORT=17020
 FBBPORT=17021
 HTTPPORT=8080
 LOGINPROMPT=Username:
 PASSWORDPROMPT=Password:
 MAXSESSIONS=10

 CTEXT=Welcome to the SETUP-NOCALL Telnet Server\nEnter <?> for list of commands\n\n

 USER=SETUP-NOCALL,SETUP-PASSWORD,SETUP-NOCALL,"",sysop

;Telnet user entry format:   (Follow this format to add new users to the telnet port)
;USER=user,password,callsign,"",sysop
;USER=,,guest,",

ENDPORT



;----------------------------------------------------
; Radio Port Definitions


;DIREWOLF SOUNDMODEM TNC PORT 
;PORT
PORTNUM=3                           ;Optional but sets port number if stated
ID=Direwolf - SETUP-FREQUENCYMHz    ;Text displayed by PORTS command
TYPE=EXTERNAL                       ;Calls an external module
DLLNAME=BPQtoAGW.dll                ;Uses BPQtoAGW.dll
IOADDR=1F40                         ;Port number for AGWPE interface (in hexidecimal). Interfaces with AGWPE via port 8000 
CHANNEL=A                           ;AGWPE's port 1
PERSIST=64                          ; PERSIST=256/(# of transmitters-1) (default = 63)
SLOTTIME=100                        ; CMSA interval timer in milliseconds
TXDELAY=300                         ; Transmit keyup delay in milliseconds
TXTAIL=0                            ; TX key down, in milliseconds, at packet end (Obsolete included for  completeness)
QUALITY=192                         ; Quality factor applied to node broadcasts heard on
                                    ; this port, unless overridden by a locked route
                                    ; entry. Setting to 0 stops node broadcasts
MAXFRAME=4                          ;Max outstanding frames (1 thru 7)
FRACK=5000                       	;Level 2 timeout in milliseconds
RESPTIME=250                     	;Level 2 delayed ack timer in milliseconds
RETRIES=5                        	;Level 2 maximum retry value
PACLEN=236                          ;Max = 236 if using NETROM links
UNPROTO=CQ						    ; BTEXT broadcast addrs format: DEST[,digi1[,digi2]
BCALL=SETUP_NOCALL-7                ; BTEXT call. unstated defaults to APPL1CALL
L3ONLY=0                            ; 1=No user downlink connects on this port
DIGIFLAG=1                          ; Digipeat: 0=OFF, 1=ALL, 255=UI Only
DIGIPORT=0                          ; Port on which to send digi'd frames (0 = same port)
USERS=0                             ; Maximum number of L2 sessions, 0 = no limit

ENDPORT
;END DIREWOLF SOUNDMODEM TNC PORT

 
;----------------------------------------------------
; Applications
;

LINCHAT      ;Enable & Run Chat Server		
LINMAIL      ;Enable & Run Mail Server (BBS) 	


; App #1: BBS
APPLICATION 1,BBS,,SETUP-NOCALL-1,SETUP-BBSALIAS,255

;App #2: Chat
APPLICATION 2,CHAT,,SETUP-NOCALL-2,SETUP-CHATALIAS,255

; App #3: RMS
APPLICATION 3,RMS,C 2 CMS,SETUP-NOCALL-10,SETUP-RMSALIAS,255


; Sysop Chat App  (DISABLED)
;APPLICATION 32,SYSOP

